CONFIGURATOR_DB_HOST=
CONFIGURATOR_DB_PORT=5432
CONFIGURATOR_DB_NAME=
CONFIGURATOR_DB_USER=
CONFIGURATOR_DB_PASSWORD=
CONFIGURATOR_DB_SSLMODE=require
CONFIGURATOR_DB_CONNECT_TIMEOUT=10
CONFIGURATOR_DB_STATEMENT_TIMEOUT_MS=30000
